<!DOCTYPE html>
<html><head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<link crossorigin="" href="https://fonts.gstatic.com/" rel="preconnect"/>
<link as="style" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Lexend%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900" onload="this.rel='stylesheet'" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
<title>Stitch Design</title>
<link href="data:image/x-icon;base64," rel="icon" type="image/x-icon"/>
<script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
<style type="text/tailwindcss">
    :root {
      --checkbox-tick-svg: url('data:image/svg+xml,%3csvg viewBox=%270 0 16 16%27 fill=%27rgb(17,24,19)%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3cpath d=%27M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z%27/%3e%3c/svg%3e');
    }
  </style>
<style>
    body {
      min-height: max(884px, 100dvh);
    }
  </style>
<style>
    body {
      min-height: max(884px, 100dvh);
    }
  </style>
  </head>
<body class="bg-[#111813]">
<div class="relative flex h-auto min-h-screen w-full flex-col dark justify-between group/design-root" style='font-family: Lexend, "Noto Sans", sans-serif;'>
<div class="flex flex-col gap-8 p-6">
<header class="flex items-center justify-center relative">
<button class="text-white absolute left-0">
<span class="material-symbols-outlined"> arrow_back_ios_new </span>
</button>
<h1 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Create Anonymous Profile</h1>
</header>
<div class="flex flex-col gap-8">
<div>
<h2 class="text-white text-2xl font-bold leading-tight pb-3">Choose an Identity</h2>
<p class="text-[#c2d1c8] text-base font-normal leading-normal pb-4">Select a pre-made anonymous identity or create your own.</p>
<div class="flex flex-col gap-4">
<div class="flex items-center gap-4 bg-[#1a241e] p-4 rounded-xl ring-2 ring-[#13ec5b]">
<div class="overflow-visible">
<div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full flex items-center justify-center size-16" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDQKG-iOmdWWKmDr2-I3h3DAg8MhN2PX8cgpQ_bhShxyQ2sshfPhH7mqL8v9hke2HA4-QzjCVs3byK1cboEYvBxCH7bRrxc5eTO8aqqFbT3gl4GWSNZA5UeGYuDa3H64vITUeiUJ6LaSV9pOGhAQbjS8hl3h83XZ2KMlTrR1IDKT9tzdHrdRZaXU09F6OWXA7ghqJEIsZacqkGOpsX60a-HlwCYmdw8Oz7z9pabW-rL5ScY3ROZ3OvsY-kkvZkS18Pfvk8rTdL0c8N1");'></div>
</div>
<div class="flex flex-col">
<p class="text-white text-lg font-bold leading-tight">Shadow Striker</p>
<p class="text-[#c2d1c8] text-sm font-normal leading-normal">Mysterious &amp; Insightful</p>
</div>
</div>
<div class="flex items-center gap-4 bg-[#1a241e] p-4 rounded-xl">
<div class="overflow-visible">
<div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full flex items-center justify-center size-16" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAaJtoS06bRRfPHbO-FST-7rS36FT0UT4oe253QuhxV7tRd8rNkEFcqsXT6O7msM8rqilDF1C_ZL7kUvSsDBa6BFMoQhs5P169xpE-KzTG9jIvVHUYhYgL-kwPNs23Z2quHe6tiQbnhOEWlSok62EOwzm3r29j6rphu-E4Oa8nHfhc-NwGyknxqHlrm1Y8eQanwwc2nayWqrcE3HOb8BBbW_8-xZfNKclXuqcOU2E9-KGr60tx_A02azMJ9aAV-G4cq5nGyjT_N9X32");'></div>
</div>
<div class="flex flex-col">
<p class="text-white text-lg font-bold leading-tight">Cosmic Dreamer</p>
<p class="text-[#c2d1c8] text-sm font-normal leading-normal">Creative &amp; Hopeful</p>
</div>
</div>
<div class="flex items-center gap-4 bg-[#1a241e] p-4 rounded-xl">
<div class="overflow-visible">
<div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full flex items-center justify-center size-16" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCHTGbyiv_wYQGl18Ctjj7vENv_cFVbUlDPNwbdIeTJZrENjZX3iLIey0sPAN6_SgzEBZCMFQdWyBZCDCY2NX65XIScdpumokd8kCxJjZj9k1k0kdyI0pHTgjUYi2xaTKXn43E4JujEo50bBNgi5zFcUJU9iu7xUdJ3yjqw3Bka0F6wUfBNHPdAv0A84fkGRvw24Epj8sz4I7Xv76ofORbCCZqeOQMoxzSHQTxaxGii-CvdX_nwOiuRbVJk4jACvS6CtXsCA9nJVpIF");'></div>
</div>
<div class="flex flex-col">
<p class="text-white text-lg font-bold leading-tight">Silent Voyager</p>
<p class="text-[#c2d1c8] text-sm font-normal leading-normal">Observant &amp; Calm</p>
</div>
</div>
</div>
</div>
<div class="flex items-center gap-4">
<div class="h-px bg-[#28392e] flex-1"></div>
<p class="text-[#9db9a6] text-sm font-medium leading-normal">OR</p>
<div class="h-px bg-[#28392e] flex-1"></div>
</div>
<div class="flex flex-col gap-6">
<div>
<h2 class="text-white text-2xl font-bold leading-tight pb-3">Create Your Own</h2>
<div class="relative">
<input class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-2 focus:ring-[#13ec5b] border-2 border-[#28392e] bg-transparent h-14 placeholder:text-[#9db9a6] p-4 text-base font-normal leading-normal" placeholder="Choose a username" value=""/>
<button class="absolute inset-y-0 right-0 flex items-center pr-4 text-[#13ec5b]">
<span class="material-symbols-outlined"> casino </span>
</button>
</div>
</div>
<div>
<h2 class="text-white text-lg font-bold leading-tight pb-3">Select an Avatar</h2>
<div class="grid grid-cols-5 gap-4">
<div class="overflow-visible">
<div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full flex items-center justify-center size-16 border-4 border-transparent" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBflXo38ce5wibk4vKyxGxbg3g54JwBHLw8lH0GBkcd4Su6_l7qNY6jLcTBhRz1r7uvrTz261L6kZN1wzrhbZYEXoIYHpqkoYsfETU_9XLDrizggNjVgDZXJQ08Bqde3ADlYiSRaDtKos02lNNZYN1jUW78DCcawkAX37m0MhbWxPL1WdwXIggb0sFVc4sjtSXiG7jqU9q7hIAqh1UTGS1mAT9AZgi6mBRvfYgg9I_FiipAec0y1K6PSiWTOpfNLsAPoBHXuhQfbFSj");'></div>
</div>
<div class="overflow-visible">
<div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full flex items-center justify-center size-16 border-4 border-transparent" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDZx5x5yBv3eUuQ8L_9gq1k5b3j2f9G4c8v1Z9Z3e1gH5t4b8Y1k9b7K5e7L6w8J9j3L4z8d6f5s4a7G0i9H8a7d3B6c_L8eR1");'></div>
</div>
<div class="overflow-visible">
<div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full flex items-center justify-center size-16 border-4 border-transparent" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD8Q5q6d7t8g9h0i6j5k4l3m2n1o0p9q8r7s6t5u4v3w2x1y0z_a_b_c_d_e_f_g_h_i_j_k_l_m_n_o_p_q_r_s_t");'></div>
</div>
<div class="overflow-visible">
<div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full flex items-center justify-center size-16 border-4 border-transparent" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA-z_y_x_w_v_u_t_s_r_q_p_o_n_m_l_k_j_i_h_g_f_e_d_c_b_a_9_8_7_6_5_4_3_2_1_0");'></div>
</div>
<div class="overflow-visible">
<div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full flex items-center justify-center size-16 border-2 border-dashed border-[#3b5443]">
<span class="material-symbols-outlined text-[#9db9a6] text-3xl"> add_photo_alternate </span>
</div>
</div>
</div>
</div>
</div>
<div class="bg-[#1a241e] rounded-xl p-4 flex flex-col gap-3">
<p class="text-[#c2d1c8] text-sm font-normal leading-normal"> Your username and avatar will be visible to other users in peer support. This helps maintain your privacy while allowing for a sense of community and interaction. </p>
<label class="flex gap-x-3 items-start">
<input checked="" class="h-6 w-6 mt-0.5 shrink-0 rounded-md border-[#3b5443] border-2 bg-transparent text-[#13ec5b] checked:bg-[#13ec5b] checked:border-[#13ec5b] checked:bg-[image:--checkbox-tick-svg] focus:ring-0 focus:ring-offset-0 focus:border-[#3b5443] focus:outline-none" type="checkbox"/>
<p class="text-white text-base font-normal leading-normal">I understand that my username and avatar will be visible to other users in peer support.</p>
</label>
</div>
</div>
</div>
<div class="p-6 pt-0">
<button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-14 px-5 w-full bg-[#13ec5b] text-[#111813] text-lg font-bold leading-normal tracking-[0.015em] hover:bg-opacity-90">
<span class="truncate">Create Profile</span>
</button>
</div>
</div>

</body></html>